/*
	red = #DA3134;
	green = #647433;
	yellow = #EFC879;
	blue = #8CA8D9;
*/

@font-face {
    font-family: 'azedobold';
    src: url('azedo-bold-webfont.eot');
    src: url('azedo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('azedo-bold-webfont.woff2') format('woff2'),
         url('azedo-bold-webfont.woff') format('woff'),
         url('azedo-bold-webfont.ttf') format('truetype'),
         url('azedo-bold-webfont.svg#azedobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'azedolight';
    src: url('../fonts/azedo-light-webfont.eot');
    src: url('../fonts/azedo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/azedo-light-webfont.woff2') format('woff2'),
         url('../fonts/azedo-light-webfont.woff') format('woff'),
         url('../fonts/azedo-light-webfont.ttf') format('truetype'),
         url('../fonts/azedo-light-webfont.svg#azedolight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'baron_neueregular';
    src: url('../fonts/baron_neue-webfont.eot');
    src: url('../fonts/baron_neue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/baron_neue-webfont.woff2') format('woff2'),
         url('../fonts/baron_neue-webfont.woff') format('woff'),
         url('../fonts/baron_neue-webfont.ttf') format('truetype'),
         url('../fonts/baron_neue-webfont.svg#baron_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 100%;
	line-height: 150%;
}

header {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 70px;
	border-bottom: 1px solid black;
}

img {
	max-width: 100%;
	display: block
}

h1 {
	font-family: 'azedolight';
	text-align: center;
	color: #8CA8D9;
}

h2 {
	font-family: 'azedolight';
	color: #8CA8D9;
	font-size: 1.5em;
	padding-top: 1em;
}

/*-------------HEADER-------------*/

img.logo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 70px;
}

ul.menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 400px;
	margin-top: 40px;
	font-family: 'baron_neueregular';
	font-size: .8em;
	
}

ul.menu li {
	text-align: center;
	width: 25%;
	list-style-type: none;
}

ul.menu li a {
	text-decoration: none;
	color: black;
}

ul.menu li a:hover {
	color: #DA3134;
}

ul.menu li a.active{
 	color: #DA3134;
}

ul#sub_items {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 30px;
	font-family: 'baron_neueregular';
	font-size: .8em;
	border-bottom: 1px solid black;
}

ul#sub_items li {
	list-style-type: none;
}

ul#sub_items li a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	width: 180px;
	height:30px;
	color: black;
}

ul#sub_items li a:hover {
	background-color: #8CA8D9;
	color: #EFC879;
}

img {
	max-width: 100%;
	display: block
}

/*----------MAIN AREA-----------*/

.home_wrapper {
	width: 960px;
	margin: 2em auto;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
}

#inner_wrapper {
	width: 960px;
	margin: 1em auto;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
}

.inner_about {
	width: 100%;
	margin-top: .5em;
}

.inner_about p {
	padding-top: .5em;
	text-align: justify;
}

.about {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin-top: 2em;
	margin-bottom: 2em;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.about p {
	font-family: sans-serif;
	padding-top: .8em;
	text-align: justify;
}

.posters {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 1em auto;
	width: 500px;
}

.one_poster {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 500px;
}

p.film_short {
	font-size: .9em;
	line-height: 1.4em;
	font-weight: bold;
	text-align: justify;
}

.row_two {
	width: 48.5%;
	margin-top: 1.3em;
}

.row_two img {
	width: 100%;
}

.row_four {
	width: 23%;
	margin-top: 1.3em;
}

.row_four img {
	width: 100%;
}

.big_one {
	display: none;
}

.big_two {
	display: none;
}

.two_stack {
	width: 98%;
	margin-top: 1.3em;
}

.rows {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	justify-content: space-between;
}

.stack {
	width: 23.5%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-flow: column;
}

.still {
	width: 100%;
	margin-top: 1.3em;
}

.film_top {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.film_desc {
	width: 50%;
	padding-top: 2em;
}

.film_row h2 {
	padding-top: 0;
	width: 50%;
}

.side_img {
	display: flex;
	width: 46%;
	margin-top: 1.3em;
}

.side_img img {
	width: 100%;
}

.flexx {
	border: 2px solid #DA3134;
	display: none;
}

.flex1 {
	border: 2px solid #DA3134;
}

.flex2 {
	border: 2px solid #647433;
}

.flex3 {
	border: 2px solid #EFC879;
}

.flex4 {
	border: 2px solid #8CA8D9;
}

.flex5 {
	border: 2px solid #647433;
}

p.excerpt {
	font-family: 'Nord';
	font-weight: regular;
	font-size: 2em;
	text-align: justify;
	width: 80%;
	line-height: 1em;
	margin: auto;
}

.video {
	width: 100%;
	height: 710px;
	margin: 1em auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

iframe {
	width: 100%;
	height:710px;
}

iframe.home_player {
	width: 100%;
	height: 100px;	
}

.home_song {
	width: 100%;
	height: 100px;
	overflow: hidden;
	margin-top: 1em;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.essay {
	width: 80%;
	margin: 2em auto 2em auto;
	text-align: justify;
}

.essay h2 {
	padding-top: 0;
	text-align: center;
}

.essay p {
	padding-top: 1em;
}

ul.lyric_titles {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 500px;
	height: 30px;
	font-family: 'Baron Neue';
	font-size: .8em;
	align-items: center;
	margin: 2em auto 0 auto;
}

ul.lyric_titles li {
	display: flex;
	width: 45%;
	font-size: 2em;
}

ul.lyric_titles li:nth-child(2) {
	display: flex;
	width: 10%;
	font-size: 2em;
}

ul.lyric_titles li a {

}

ul.lyric_titles li a:hover {

}

.lyrics_wrapper {
	width: 500px;
	margin: 2em auto;
}

.lyrics_box {
	width: 100%;
	margin-bottom: 2em;
}

p.lyrics {

}

.album_art {
	width: 65%;
	padding-top: 2em;
}

.album_art p {
	padding-top: .8em;
}

.side_songs {
	width: 33%;
}

.side_songs img {
	padding-bottom: 1em;
}

.side_songs img:last-of-type {
	margin-top: 2em;
}























